{% extends "admin/base.html" %}

{% set title = "Creeaza Eveniment" %}

{% block style %}
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <style>
        tr[id] {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">

                                <button type="button" class="btn btn-outline-primary btn-sm mb-0 save">
                                    Salveaza
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="container mt-5">
                        <form>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Data</label>
                                        <input class="form-control datetimepicker flatpickr-input text-white"
                                               type="date" id="date"
                                               name="date" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group input-group-static">
                                        <label>Ora</label>
                                        <input class="form-control flatpickr-input text-white" type="text" id="time"
                                               name="time" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group input-group-static mb-4">
                                        <label>Tip Eveniment</label>
                                        <select class="form-control text-white bg-dark" id="tip_eveniment"
                                                name="tip_eveniment"
                                                value="">
                                            <option>Nunta</option>
                                            <option>Cumatrie</option>
                                            <option>Alteceva</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group input-group-static mb-4">
                                        <label>Status</label>
                                        <select class="form-control text-white bg-dark" id="status" name="status">
                                            <option>Semnat</option>
                                            <option>De Semnat</option>
                                            <option>Anulat</option>
                                        </select>
                                    </div>
                                </div>
                                                                <div class="col-2">
                                    <div class="input-group input-group-static">
                                        <label>Culoarea</label>
                                        <input class="form-control flatpickr-input text-white" type="text" id="culoarea"
                                               name="culoarea" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Locatia</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="location" value=""
                                               name="location"
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Strada</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="street" name="street" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Detalii</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="location_details"
                                               name="location_details" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">

                                    <select class="form-control" id="dancers" name="dancers" placeholder="Dansatori"
                                            multiple>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Mirii</label>
                                        <input class="form-control text-white" type="text" id="miri" name="miri"
                                               value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Contacte</label>
                                        <input class="form-control text-white" type="text" id="contacte_miri"
                                               name="contacte_miri" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Pret</label>
                                        <input class="form-control text-white" type="text" id="price"
                                               name="price" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="input-group input-group-dynamic">
                    <textarea class="form-control text-white" rows="2"
                              placeholder="Detalii despre nunta"
                              spellcheck="false" id="detalii_nunta"></textarea>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Moderator</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="moderator" value=""
                                               name="moderator"
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Contacte</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="contacte_moderator" name="contacte_moderator" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Detalii</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="detalii_moderator"
                                               name="detalii_moderator" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Foto/Video</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="fotoVideo" value=""
                                               name="fotoVideo"
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Contacte</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="contacte_fotoVideo" name="contacte_fotoVideo" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Detalii</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="detalii_fotoVideo"
                                               name="detalii_fotoVideo" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Muzica</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="muzica" value=""
                                               name="muzica"
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Contacte</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="contacte_muzica" name="contacte_muzica" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-static">
                                        <label>Detalii</label>
                                        <input class="form-control flatpickr-input text-white" type="text"
                                               id="detalii_muzica"
                                               name="detalii_muzica" value=""
                                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-outline-primary btn-sm mb-3 mt-3 save">
                                Salveaza
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
    var selectDancers;

$(function () {

    function getDancers(){
        var dateElement = $('input[name="date"]');

        if (dateElement.val()) {
            var dancersSelect = document.getElementById('dancers');
            var date = document.getElementById('date').value;

            // Golește selectul înainte de a adăuga opțiunile noi
            dancersSelect.innerHTML = '';

            $.ajax({
                url: "/getDancers?date=" + date,
                method: "GET",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i].name;
                        option.text = data[i].name;

                        dancersSelect.appendChild(option);
                    }

                    // Inițializează sau actualizează SlimSelect după adăugarea opțiunilor
                    if (selectDancers) {
                        selectDancers.destroy();
                    }

                    selectDancers = new SlimSelect({
                        select: '#dancers'
                    });
                }
            });
        }
    }

    getDancers();

    var dateInput = document.getElementById('date');
    dateInput.addEventListener('input', function() {
        getDancers();
    });
});


        //getLocation
        $(function () {
            $("#location").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/getLocation",
                        method: "GET",
                        data: {term: request.term},
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    $("#location").val(ui.item.name || "");
                    $("#street").val(ui.item.street || "");
                    //$("#street").attr("disabled", true);
                    $("#location_details").val(ui.item.details || "");
                    //$("#location_details").attr("disabled", true);
                    return false;
                },
                messages: {
                    noResults: '',
                    results: function () {
                    }
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>").append("<div>" + item.name + "</div>").appendTo(ul);
            };
        });

        function initializeAutocomplete(selector, type) {
            $(selector).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/getPrestator",
                        method: "GET",
                        data: { term: request.term, type: type },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                select: function (event, ui) {
                    $(selector).val(ui.item.name || "");
                    $(`#contacte_${type}`).val(ui.item.contacts || "");
                    $(`#detalii_${type}`).val(ui.item.details || "");
                    return false;
                },
                messages: {
                    noResults: '',
                    results: function () {
                    }
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>").append("<div>" + item.name + "</div>").appendTo(ul);
            };
        }

        $(function () {
            initializeAutocomplete("#moderator", "moderator");
            initializeAutocomplete("#fotoVideo", "fotoVideo");
            initializeAutocomplete("#muzica", "muzica");
        });


        $(".save").on("click", salveazaDetaliiEveniment);

        function salveazaDetaliiEveniment() {
            Swal.fire({
                title: 'Salveaza Eveniment',
                text: "Esti sigur ca vrei sa salvezi?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: 'Confirma',
                cancelButtonText: 'Anuleaza',
                preConfirm: () => {
                    const date = document.getElementById('date').value;
                    const time = document.getElementById('time').value;
                    const tip_eveniment = document.getElementById('tip_eveniment').value;
                    const location = document.getElementById('location').value;
                    const street = document.getElementById('street').value;
                    const location_details = document.getElementById('location_details').value;
                    const dancers = selectDancers.getSelected().toString()
                    const miri = document.getElementById('miri').value;
                    const contacte_miri = document.getElementById('contacte_miri').value;
                    const detalii_nunta = document.getElementById('detalii_nunta').value;
                    const status = document.getElementById('status').value;
                    const culoarea = document.getElementById('culoarea').value;
                    const price = document.getElementById('price').value;


                    const moderator = document.getElementById('moderator').value;
                    const contacte_moderator = document.getElementById('contacte_moderator').value;
                    const detalii_moderator = document.getElementById('detalii_moderator').value;


                    const fotoVideo = document.getElementById('fotoVideo').value;
                    const contacte_fotoVideo = document.getElementById('contacte_fotoVideo').value;
                    const detalii_fotoVideo = document.getElementById('detalii_fotoVideo').value;


                    const muzica = document.getElementById('muzica').value;
                    const contacte_muzica = document.getElementById('contacte_muzica').value;
                    const detalii_muzica = document.getElementById('detalii_muzica').value;

                    $.ajax({
                        url: '/adaugaEveniment',
                        method: 'POST',
                        data: {
                            date, time, culoarea, price,
                            tip_eveniment,
                            location, street, location_details,
                            dancers,
                            miri, contacte_miri,
                            detalii_nunta,
                            status,
                            moderator, contacte_moderator, detalii_moderator,
                            fotoVideo, contacte_fotoVideo, detalii_fotoVideo,
                            muzica, contacte_muzica, detalii_muzica

                        },
                        success: function (response) {
                            Swal.fire(response['message'], '', 'success');
                        },
                        error: function (error) {
                            console.error('Eroare:', error);
                            Swal.fire('Eroare', 'A fost depistata o eroare in timpul adaugarii evenimentului.', 'error');
                        }
                    });
                }
            })
        }
    </script>
{% endblock %}