{% extends "admin/base.html" %}
{% set title = "Analytics" %}


{% block style %}

{% endblock %}

{% block content %}

    <div class="container-fluid my-3 py-3">
        <div class="row mb-5">
            <div class="col-lg-3">
                <div class="card position-sticky top-1">
                    <ul class="nav flex-column bg-white border-radius-lg p-3">
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-scroll="" href="#Statistici_generale">
                                <i class="material-icons text-lg me-2">person</i>
                                <span class="text-sm">Statistici generale</span>
                            </a>
                        </li>
                        <li class="nav-item pt-2">
                            <a class="nav-link d-flex" data-scroll="" href="#Statistici_pe_perioadă">
                                <i class="material-icons text-lg me-2">receipt_long</i>
                                <span class="text-sm">Statistici pe perioadă</span>
                            </a>
                        </li>
{#                        <li class="nav-item pt-2">#}
{#                            <a class="nav-link d-flex" data-scroll="" href="#Analiza_evenimentelor">#}
{#                                <i class="material-icons text-lg me-2">lock</i>#}
{#                                <span class="text-sm">Analiza evenimentelor</span>#}
{#                            </a>#}
{#                        </li>#}
                        <li class="nav-item pt-2">
                            <a class="nav-link d-flex" data-scroll="" href="#Analiza_Dansatorilor">
                                <i class="material-icons text-lg me-2">settings_applications</i>
                                <span class="text-sm">Analiza Dansatorilor</span>
                            </a>
                        </li>
{#                        <li class="nav-item pt-2">#}
{#                            <a class="nav-link d-flex" data-scroll="" href="#Analiza_veniturilor">#}
{#                                <i class="material-icons text-lg me-2">delete</i>#}
{#                                <span class="text-sm">Analiza veniturilor</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item pt-2">#}
{#                            <a class="nav-link d-flex" data-scroll="" href="#Analiza_stării_evenimentelor">#}
{#                                <i class="material-icons text-lg me-2">delete</i>#}
{#                                <span class="text-sm">Analiza stării evenimentelor</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item pt-2">#}
{#                            <a class="nav-link d-flex" data-scroll="" href="#Analiza_locatiilor">#}
{#                                <i class="material-icons text-lg me-2">delete</i>#}
{#                                <span class="text-sm">Analiza locațiilor</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item pt-2">#}
{#                            <a class="nav-link d-flex" data-scroll="" href="#Grafice_vizuale">#}
{#                                <i class="material-icons text-lg me-2">delete</i>#}
{#                                <span class="text-sm">Grafice vizuale</span>#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 mt-lg-0 mt-4">

                <div class="card mt-4" id="Statistici_generale">
                    <div class="card-header">
                        <h5>Statistici generale (FAKE)</h5>
                    </div>
                    <div class="dropdown text-end" style="top: -60px; right: 40px;">
                        <a href="javascript:;" class="cursor-pointer text-secondary" id="statisticiGeneralePePeriaoada"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-xs">2024</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3"
                            aria-labelledby="statisticiGeneralePePeriaoada"
                            style="">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extAnXstGen(this)">2023</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extAnXstGen(this)">2024</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extAnXstGen(this)">2025</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extAnXstGen(this)">2026</a></li>
                        </ul>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body p-3 position-relative">
                                        <div class="row">
                                            <div class="col text-start">
                                                <p class="text-sm mb-1 text-capitalize">Evenimente</p>
                                            </div>
                                            <div class="col text-end">
                                                <h5 class="font-weight-bolder mb-0" id="evenimenteXan">
                                                    0
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-sm-0 mt-4">
                                <div class="card">
                                    <div class="card-body p-3 position-relative">
                                        <div class="row">
                                            <div class="col text-start">
                                                <p class="text-sm mb-1 text-capitalize">Dansatori</p>
                                            </div>
                                            <div class="col text-end">
                                                <h5 class="font-weight-bolder mb-0" id="dansatoriXan">
                                                    0
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-sm-0 mt-4">
                                <div class="card">
                                    <div class="card-body p-3 position-relative">
                                        <div class="row">
                                            <div class="col text-start">
                                                <p class="text-sm mb-1 text-capitalize">Venit</p>
                                            </div>
                                            <div class="col text-end">
                                                <h5 class="font-weight-bolder mb-0" id="venitXan">
                                                    0
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mt-4" id="Statistici_pe_perioadă">
                    <div class="card-header">
                        <h5>Statistici pe perioadă</h5>
                    </div>
                    <div class="dropdown text-end" style="top: -60px; right: 40px;">
                        <a href="javascript:;" class="cursor-pointer text-secondary" id="statisticiPePeriaoada"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-xs">2024</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="statisticiPePeriaoada"
                            style="">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extrageAnul(this)">2023</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extrageAnul(this)">2024</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extrageAnul(this)">2025</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;"
                                   onclick="extrageAnul(this)">2026</a></li>
                        </ul>
                    </div>
                    <div class="card-body pt-0" style="text-align: -webkit-center;">
                        <div class="card mb-3">
                            <div class="card-header">
                                Grafic Bar evenimente pe luna
                            </div>
                            <div class="card-body p-3">
                                <div class="chart">
                                    <canvas id="evenimenteXluna" class="chart-canvas" height="100px"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3 ">
                            <div class="card-header">
                                Grafic Pie evenimente pe luna
                            </div>
                            <div class="card-body p-3">
                                <div class="chart w-50">
                                    <canvas id="evenimenteXlunaPie" class="chart-canvas" height="10px"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                Grafic evenimente totale
                            </div>
                            <div class="card-body p-3">
                                <div class="chart">
                                    <canvas id="evenimenteTotale" class="chart-canvas" height="100px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mt-4" id="Analiza_Dansatorilor">
                    <div class="card-header">
                        <h5>Analiza Dansatorilor</h5>
                    </div>
                    <div class="card-body pt-0">
                        <canvas id="eventsXDancers" class="chart-canvas" height="305" width="1029"
                                style="display: block; box-sizing: border-box; height: 340px; width: 1143.6px;"></canvas>
                    </div>
                </div>

{#                <div class="card mt-4" id="Analiza_veniturilor">#}
{#                    <div class="card-header">#}
{#                        <h5>Analiza veniturilor</h5>#}
{#                    </div>#}
{#                    <div class="card-body pt-0">#}
{##}
{#                    </div>#}
{#                </div>#}

{#                <div class="card mt-4" id="Analiza_stării_evenimentelor">#}
{#                    <div class="card-header">#}
{#                        <h5>Analiza stării evenimentelor</h5>#}
{#                    </div>#}
{#                    <div class="card-body pt-0">#}
{##}
{#                    </div>#}
{#                </div>#}

{#                <div class="card mt-4" id="Analiza_locatiilor">#}
{#                    <div class="card-header">#}
{#                        <h5>Analiza locatiilor</h5>#}
{#                    </div>#}
{#                    <div class="card-body pt-0">#}
{##}
{#                    </div>#}
{#                </div>#}

{#                <div class="card mt-4" id="Grafice_vizuale">#}
{#                    <div class="card-header">#}
{#                        <h5>Grafice vizuale (FAKE)</h5>#}
{#                    </div>#}
{#                    <div class="card-body pt-0">#}
{##}
{#                        <div class="card mb-3">#}
{#                            <div class="card-body p-3">#}
{#                                <div class="chart">#}
{#                                    <canvas id="myChart" class="chart-canvas" height="100px"></canvas>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {#    <script src="/static/admin/dashboard/assets/js/plugins/chartjs.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <script src="{{ url_for('static', filename='/admin/js/analystics.js') }} "></script>

{% endblock %}