{% extends "admin/base.html" %}
{% set title = "Evenimente" %}

{% import 'admin/utilityEvents.html' as utility %}

{% block style %}
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet"></link>


    <style>
        tr[id] {
            cursor: pointer;
        }

        .ui-widget.ui-widget-content.ui-autocomplete {
            z-index: 1111;
        }

        thead input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        #table_events {
            width: 100%;
            table-layout: fixed;
            /* word-break: break-all !important;
            white-space: normal !important; */
        }

        #table_events tbody td {
            word-break: break-all;
            vertical-align: top;
            white-space: normal !important;
        }

        #table_events thead th {
            word-break: normal !important;
            vertical-align: top;
            white-space: normal !important;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row mt-3">

        <div class="col-2">
            <div class="input-group input-group-static mb-4">
                <label>Dansatori</label>
                <select class="form-control text-white bg-dark" id="searchDansatori" name="searcDansatori"
                        value="">
                    <option value="" >Toate Evenimentele</option>
                    <option value="{% print(user.first_name) %}" selected>{% print(user.first_name) %}</option>

                </select>
            </div>
        </div>

        <div class="col-2">
            <div class="input-group input-group-static mb-4">
                <label>Data</label>
                <select class="form-control text-white bg-dark" id="searchDataEvents" name="searcDataEvents"
                        value="">
                    <option value="toate" >Toate Evenimentele</option>
                    <option value="viitoare" selected>Evenimente Viitoare</option>
                    <option value="trecute">Evenimente Trecute</option>
                </select>
            </div>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-2">
            <button class="btn btn-outline-primary btn-sm mb-0" type="button" id="searchButton"> Cauta</button>
            <button class="btn btn-outline-primary btn-sm mb-0 mt-sm-0 mt-1" type="button" id="resetSearch">Reset
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 ">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Toate evenimentele</h5>
                            <p class="text-sm mb-0">
                                {#                                A lightweight, extendable, dependency-free javascript HTML table plugin.#}
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">

                                {% if user.type == 'admin' %}
                                <button class="btn btn-primary btn-sm mb-0" id="open-modal-button" type="button">
                                    Eveniment Nou +
                                </button>
                                {% endif %}


                                {#                                <a href="./new-product.html" class="btn bg-gradient-primary btn-sm mb-0"#}
                                {#                                   target="_blank">+&nbsp; New Product</a>#}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table id="table_events"
                               class="table-striped dataTable no-footer nowrap"
                               style="font-size: 12px; text-align: center; overflow: auto;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>date</th>
                                <th>time</th>
                                <th>event_type</th>
                                <th>location</th>
                                <th>dancers</th>
                                <th>mires</th>
                                <th>contacts</th>
                                <th>price</th>
                                <th>avans</th>
                                <th>Culoarea</th>
                                <th>status</th>
                                <th>details</th>
                                <th>photo_video</th>
                                <th>music</th>
                                <th>moderators</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        $.ajax({
            url: "/getDancers?date=01/01/2000",
            method: "GET",
            success: function (data) {
                var searcDansatori = document.getElementById('searchDansatori');
                for (var i = 0; i < data.length; i++) {
                    var option = document.createElement('option');
                    option.value = data[i].name;
                    option.text = data[i].name;
                    option.hidden = (data[i].name === '{% print(user.first_name) %}') ? true : false
                    searcDansatori.appendChild(option);
                }
            }
        });
        var searchButton = document.getElementById('searchButton');

        searchButton.addEventListener('click', function () {
            table_events.ajax.reload();
        });
    </script>

    <script>
        {{ utility.eveniment_nou_modal() }}
    </script>

    <script>
        {{ utility.table_events() }}
    </script>

{% endblock %}