{% extends "admin/base.html" %}
{% block title1 %}Evenimente{% endblock %}
{% block title %}Evenimente{% endblock %}
{% import 'admin/utility.html' as utility %}

{% block style %}
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet"></link>


    <style>
        tr[id] {
            cursor: pointer;
        }

        .ui-widget.ui-widget-content.ui-autocomplete {
            z-index: 1111;
        }

        thead input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        #table_events {
            width: 100%;
            table-layout: fixed;
            /* word-break: break-all !important;
            white-space: normal !important; */
        }

        #table_events tbody td {
            word-break: break-all;
            vertical-align: top;
            white-space: normal !important;
        }

        #table_events thead th {
            word-break: normal !important;
            vertical-align: top;
            white-space: normal !important;
        }

        .ui-autocomplete {
            position: absolute;
            z-index: 1000;
            cursor: default;
            padding: 0;
            margin-top: 2px;
            list-style: none;
            background-color: #ffffff;
            border: 1px solid #ccc
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        .ui-autocomplete > li {
            padding: 3px 20px;
        }

        .ui-autocomplete > li.ui-state-focus {
            background-color: #DDD;
        }

        .ui-helper-hidden-accessible {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-12">
            <div class="card blur shadow-blur">

                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Toate evenimentele</h5>
                            <p class="text-sm mb-0">
{#                                A lightweight, extendable, dependency-free javascript HTML table plugin.#}
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">

                                <button class="btn btn-primary btn-sm mb-0" id="open-modal-button" type="button">Eveniment Nou +</button>

{#                                <a href="./new-product.html" class="btn bg-gradient-primary btn-sm mb-0"#}
{#                                   target="_blank">+&nbsp; New Product</a>#}
                                <button type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal"
                                        data-bs-target="#import">
                                    Import
                                </button>
                                <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv"
                                        type="button" name="button">Export
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table id="table_events"
                               class="table-striped dataTable no-footer nowrap"
                               style="font-size: 12px; text-align: center; overflow: auto;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>date</th>
                                <th>time</th>
                                <th>event_type</th>
                                <th>location</th>
                                <th>dancers</th>
                                <th>mires</th>
                                <th>contacts</th>
                                <th>details</th>
                                <th>photo_video</th>
                                <th>music</th>
                                <th>moderators</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}



{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        const openModalButton = document.getElementById('open-modal-button');
        var selectDancers;

        openModalButton.addEventListener('click', () => {
            Swal.fire({
                title: 'Adauga Eveniment',
                html: `{{ utility.create_event() }}`,
                showCancelButton: true,
                showDenyButton: true,
                confirmButtonText: 'Adauga',
                cancelButtonText: 'Anuleaza',
                denyButtonText: 'Deschide pagina',

                focusConfirm: false,
                allowOutsideClick: false,
                width: 1000,
                preConfirm: () => {
                    const date = document.getElementById('date').value;
                    const time = document.getElementById('time').value;
                    const tip_eveniment = document.getElementById('tip_eveniment').value;
                    const location = document.getElementById('location').value;
                    const street = document.getElementById('street').value;
                    const location_details = document.getElementById('location_details').value;
                    const dancers = selectDancers.getSelected().toString()
                    const miri = document.getElementById('miri').value;
                    const contacte_miri = document.getElementById('contacte_miri').value;
                    const detalii_nunta = document.getElementById('detalii_nunta').value;

                    $.ajax({
                        url: '/adaugaEveniment',
                        method: 'POST',
                        data: {
                            date,
                            time,
                            tip_eveniment,
                            location,
                            street,
                            location_details,
                            dancers,
                            miri,
                            contacte_miri,
                            detalii_nunta
                        },
                        success: function (response) {
                            Swal.fire('Eveniment adaugat cu succes!', '', 'success');
                        },
                        error: function (error) {
                            console.error('Eroare:', error);
                            Swal.fire('Eroare', 'A fost depistata o eroare in timpul adaugarii evenimentului.', 'error');
                        }
                    });
                }
            }).then((result) => {
                if (result.isDenied) {
                    window.open("https://www.educative.io/", "_blank");
                }
            });
            $(function () {
                $("#location").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/getLocation",
                            method: "GET",
                            data: {
                                term: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    select: function (event, ui) {
                        $("#location").val(ui.item.name || "");

                        $("#street").val(ui.item.street || "");
                        $("#street").attr("disabled", true);

                        $("#location_details").val(ui.item.details || "");
                        $("#location_details").attr("disabled", true);

                        return false;

                    },
                    messages: {
                        noResults: '',
                        results: function () {
                        }
                    }
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<div>" + item.name + "</div>")
                        .appendTo(ul);
                };
            });


            $(function () {
                var dancersSelect = document.getElementById('dancers');

                $.ajax({
                    url: "/getDancers",
                    method: "GET",
                    success: function (data) {
                        // Iterează prin datele primite și adaugă opțiunile în elementul select
                        for (var i = 0; i < data.length; i++) {
                            var option = document.createElement('option');
                            option.value = data[i].name; // Setează valoarea opțiunii (poate fi ID-ul dansatorului sau altceva)
                            option.text = data[i].name; // Setează textul opțiunii cu numele dansatorului
                            dancersSelect.appendChild(option);
                        }

                        // După ce ați adăugat opțiunile, creați obiectul SlimSelect
                        selectDancers = new SlimSelect({
                            select: '#dancers'
                        });
                    }
                });
            });


        });


    </script>

    <script>
        {{ utility.table_events() }}
    </script>

    <script>
        const rows = document.querySelectorAll('tr[id]');

        // Adăugați un eveniment de clic pe fiecare rând
        rows.forEach(row => {
            row.addEventListener('click', () => {
                // Obțineți id-ul din atributul data-id
                const id = row.getAttribute('id');
                const name = row.childNodes[1].innerText;
                const duration = row.childNodes[3].innerText;

                Swal.fire({
                    title: 'Modifica Servizio',
                    html: `
                  <form id="service-edit">
                    <div class="input-group input-group-static mb-4">
                      <label>Nome</label>
                      <input type="text" class="form-control" id="newName" value="` + name + `" required>
                    </div>
                    <div class="input-group input-group-static mb-4">
                      <label>Durata (min.)</label>
                      <input type="number" class="form-control" id="newDuration" value="` + duration + `" required>
                    </div>
                  </form>
                `,
                    showCancelButton: true,
                    showDenyButton: true,
                    confirmButtonText: 'Modifica',
                    denyButtonText: `Elimina`,
                    cancelButtonText: 'Annulla',
                    focusConfirm: false,
                    preConfirm: () => {
                        const newName = document.getElementById('newName').value;
                        const newDuration = document.getElementById('newDuration').value;

                        $.ajax({
                            url: '/admin/services',
                            method: 'POST',
                            data: {newName, newDuration, id},
                            success: function (response) {
                                Swal.fire('Servizio modificato con successo!', '', 'success');
                            },
                            error: function (error) {
                                console.error('Eroare:', error);
                                Swal.fire('Errore durante la modifica del servizio', 'Si è verificato un errore durante la modifica del servizio.', 'error');
                            }
                        });
                    }
                }).then((result) => {
                    if (result.isDenied) {
                        const type = 'delete';
                        $.ajax({
                            url: '/admin/services',
                            method: 'POST',
                            data: {id, type},
                            success: function (response) {
                                Swal.fire('Servizio Eliminato con successo!', '', 'success');
                            },
                            error: function (error) {
                                console.error('Eroare:', error);
                                Swal.fire('Errore durante la modifica del servizio', 'Si è verificato un errore durante la modifica del servizio.', 'error');
                            }
                        });

                    }
                });
            });
        });
    </script>
{% endblock %}