{% macro create_event() %}

    <div class="container mt-5">
        <form>

            <div class="row mt-3">
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Data</label>
                        <input class="form-control datetimepicker flatpickr-input" type="date" id="date" name="date"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Ora</label>
                        <input class="form-control datetimepicker flatpickr-input" type="time" id="time" name="time"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static mb-4">
                        <label>Tip Eveniment</label>
                        <select class="form-control" id="tip_eveniment" name="tip_eveniment">
                            <option>Nuna</option>
                            <option>Cumatrie</option>
                            <option>Alteceva</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Locatia</label>
                        <input class="form-control datetimepicker flatpickr-input" type="text" id="location"
                               name="location"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Strada</label>
                        <input class="form-control datetimepicker flatpickr-input" type="text" id="street" name="street"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Detalii</label>
                        <input class="form-control datetimepicker flatpickr-input" type="text" id="location_details"
                               name="location_details"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                        <select class="form-control" id="dancers" name="dancers" placeholder="Dansatori" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Barbecue</option>
                        </select>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-6">
                    <div class="input-group input-group-static">
                        <label>Mirii</label>
                        <input class="form-control" type="text" id="miri" name="miri"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-static">
                        <label>Contacte</label>
                        <input class="form-control" type="text" id="contacte_miri" name="contacte_miri"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="input-group input-group-dynamic">
                    <textarea class="form-control" rows="5"
                              placeholder="Detalii despre nunta"
                              spellcheck="false" id="detalii_nunta"></textarea>
                </div>
            </div>

        </form>
    </div>

{% endmacro %}