{% extends "admin/base.html" %}
{% set title = "Repetitii" %}


{% block style %}
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet"></link>


    <style>
        tr[id] {
            cursor: pointer;
        }

        .ui-widget.ui-widget-content.ui-autocomplete {
            z-index: 1111;
        }

        thead input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row mt-3" hidden="hidden">
        <div class="col-auto">
            <div class="input-group input-group-static mb-4">
                <label>Dansator</label>
                <select class="form-control text-white bg-dark" id="searchDansator" name="searchDansator"
                        value="">
                    <option value="toti_dansatorii" selected>Toti Dansatorii</option>

                </select>
            </div>
        </div>

        <div class="col-2">
            <button class="btn btn-outline-primary btn-sm mb-0" type="button" id="searchButton"> Cauta</button>
            <button class="btn btn-outline-primary btn-sm mb-0 mt-sm-0 mt-1" type="button" id="resetSearch">Reset
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4 ">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Absente Repetitii</h5>
                            <p class="text-sm mb-0">
                                {#                                A lightweight, extendable, dependency-free javascript HTML table plugin.#}
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">

                                {% if user.type == 'admin' %}
                                    <button class="btn btn-primary btn-sm mb-0" id="open-modal-button" type="button">
                                        Adauga Absenta +
                                    </button>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table id="table_repetitii"
                               class="table-striped dataTable no-footer nowrap"
                               style="font-size: 12px; text-align: center; overflow: auto;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nume</th>
                                <th>Data</th>
                                <th>Detalii</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>




    <script>

        const openModalButton = document.getElementById('open-modal-button');
        var selectDancers;

        openModalButton.addEventListener('click', () => {
            Swal.fire({
                title: 'Adauga Absenta',
                html: `
    <div class="row mt-3">
        <div class="col">
            <div class="input-group input-group-static">
                <label>Dansator</label>
                 <select class="form-control" id="dancers" name="dancers" placeholder="Dansatori">
                </select>
        </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="input-group input-group-static">
                <label>Data</label>
                <input class="form-control flatpickr-input text-white" type="date" id="date"
                               name="date" value="" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="input-group input-group-static">
                <label>Detalii</label>
                <input class="form-control flatpickr-input text-white" type="text" id="detalii" name="detalii"
                       value="" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
            </div>
        </div>
    </div>
`,
                showCancelButton: true,
                confirmButtonText: 'Adauga',
                cancelButtonText: 'Anuleaza',

                focusConfirm: false,
                allowOutsideClick: false,
                width: 500,
                preConfirm: () => {

                    var formData = new FormData();
                    var dansator = selectDancers.getSelected().toString()
                    formData.append('dansator', dansator);
                    formData.append('date', $('#date').val());
                    formData.append('detalii', $('#detalii').val());

                    $.ajax({
                        url: '/adaugaLipsaRepetitii',
                        method: 'POST',
                        data: formData,
                        contentType: false,  // Asigură că tipul de conținut nu este setat automat
                        processData: false,  // Nu procesați datele (FormData se ocupă de ele),
                        success: function (response) {
                            try {
                                table_repetitii.ajax.reload()
                            } catch (e) {
                                console.log(e)
                            }
                            Swal.fire('Lipsa repetitie adaugata cu succes!', '', 'success');
                        },
                        error: function (error) {
                            console.error('Eroare:', error);
                            Swal.fire('Eroare', 'A fost depistata o eroare in timpul adaugarii.', 'error');
                        }
                    });
                }
            })
            flatpickr("#date", {dateFormat: "d/m/Y"});

            $.ajax({
                url: "/getDancers?date=01/01/2000",
                method: "GET",
                success: function (data) {
                    var dancersSelect = document.getElementById('dancers');
                    dancersSelect.innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i].id;
                        option.text = data[i].name;

                        dancersSelect.appendChild(option);
                    }

                    // Inițializează sau actualizează SlimSelect după adăugarea opțiunilor
                    if (selectDancers) {
                        selectDancers.destroy();
                    }

                    selectDancers = new SlimSelect({
                        select: '#dancers'
                    });
                }
            });
        });

    </script>


    <script>

        function table_repetitii() {


            $('#table_repetitii thead tr').clone(true).appendTo('#table_repetitii thead');

            //Setup - add a text input to each footer cell
            $('#table_repetitii thead tr:eq(1) th').each(function (i) {
                if (i >= 1) $(this).html('<input type="text" style="border-color: black; border-radius: 3px;"/>');
                else $(this).html('');

                $('input', this).on('keyup change', function () {

                    if ($("#table_repetitii").DataTable().column(i).search() !== this.value) {
                        $("#table_repetitii").DataTable().column(i).search(this.value).draw();
                    }

                });
            });

            table_repetitii = $("#table_repetitii").DataTable({
                responsive: false,
                ajax: {
                    url: "getAllRepetitiiLipsa",
                    type: "GET",
                    dataType: "json",
                    dataSrc: "",
                    data: function (d) {
                        d.searchDansator = $('#searchDansator').val();
                    },
                    contentType: "application/json",
                    error: function (error) {
                        console.log(error);
                    }
                },
                "language": {
                    searchPlaceholder: "Cauta in tabela..."
                },
                'dom': ' <"c8tableBody"lft><"bottom"ip><"clear">',
                "pageLength": 25,
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "Tutti"]
                ],
                "orderCellsTop": true,
                "fixedHeader": true,
                "bAutoWidth": false,
                select: {
                    selector: "td:not(:first-child)",
                    style: "os"
                },
                "initComplete": function (settings, json) {
                    //$("#loader").fadeOut(1500);
                    //console.log(json);
                    if ($("#table_repetitii tbody tr").length === 0) {
                        if ($.fn.DataTable.isDataTable("#table_repetitii")) {
                            $("#table_repetitii").DataTable().clear();
                            $("#table_repetitii").DataTable().destroy();
                        }
                        document.getElementById("table_repetitii").innerHTML = "<div style='text-align:center;'><h2>Nu a fost gasit nici un eveniment</h2></div>";
                    } else {

                    }

                },
                "autoWidth": false,
                "deferRender": true,
                "columns": [

                    {
                        "data": "poza",
                        "className": 'poza',
                        "orderable": false,
                        "searchable": false,
                        "defaultContent": "",
                        //"width": "120px",
                        title: "",
                        render: function (data, type, row) {

                            if (data) {
                                return `<img src= "/` + data.replace('website/', '') + `"
                                                     class="avatar avatar-sm me-3"
                                                     alt="avatar image">`
                            } else {
                                return `<img src="static/admin/logo.png"
                                                     class="avatar avatar-sm me-3"
                                                     alt="avatar image">`
                            }


                        }
                    },


                    {
                        data: "dansator",
                        className: "dansator",
                        title: "Dansator",
                        visible: true,
                    },
                    {
                        data: "data",
                        className: "data",
                        title: "Data",
                        visible: true,
                    },
                    {
                        data: "detalii",
                        className: "detalii",
                        className: "detalii",
                        title: "Detalii",
                        visible: true,
                    },

                ],
                "select": {
                    style: "single"
                },
                "autoWidth": false,
            });

        }

        $(document).ready(function () {
            table_repetitii();
        });

        var searchButton = document.getElementById('searchButton');

        searchButton.addEventListener('click', function () {
            table_repetitii.ajax.reload();
        });
    </script>

{% endblock %}