{#--------tabela evenimente js-------------------------#}

<script>
    {% macro table_events() %}

        function table_events() {


            $('#table_events thead tr').clone(true).appendTo('#table_events thead');

            //Setup - add a text input to each footer cell
            $('#table_events thead tr:eq(1) th').each(function (i) {
                if (i >= 1) $(this).html('<input type="text" style="border-color: black; border-radius: 3px;"/>');
                else $(this).html('');

                $('input', this).on('keyup change', function () {

                    if ($("#table_events").DataTable().column(i).search() !== this.value) {
                        $("#table_events").DataTable().column(i).search(this.value).draw();
                    }

                });
            });

            table_events = $("#table_events").DataTable({
                responsive: false,
                "ajax": {
                    "url": "getEvents",
                    "dataType": "json",
                    "dataSrc": "",
                    "contentType": "application/json",
                    "error": function (error) {
                        console.log(error);
                    }
                },
                "language": {
                    searchPlaceholder: "Cauta in tabela..."
                },
                'dom': ' <"c8tableBody"lft><"bottom"ip><"clear">',
                "pageLength": 25,
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "Tutti"]
                ],
                "orderCellsTop": true,
                "fixedHeader": true,
                "bAutoWidth": false,
                select: {
                    selector: "td:not(:first-child)",
                    style: "os"
                },
                "initComplete": function (settings, json) {
                    //$("#loader").fadeOut(1500);
                    //console.log(json);
                    if ($("#table_events tbody tr").length === 0) {
                        if ($.fn.DataTable.isDataTable("#table_events")) {
                            $("#table_events").DataTable().clear();
                            $("#table_events").DataTable().destroy();
                        }
                        document.getElementById("table_events").innerHTML = "<div style='text-align:center;'><h2>Nu a fost gasit nici un eveniment</h2></div>";
                    } else {
                        $(".vezi_detalii_eveniment").on("click", arataDetaliiEveniment);
                        $(".modifica_detalii_eveniment").on("click", modificaDetaliiEveniment);
                        $(".sterge_eveniment").on("click", arataDetaliiEveniment);
                    }

                },
                "autoWidth": false,
                "deferRender": true,
                "columns": [
                    {
                        "data": null,
                        "className": null,
                        "orderable": false,
                        "searchable": false,
                        "defaultContent": "",
                        "width": "120px",
                        title: "",
                        render: function (data, type, row) {

                            return `
                          <a href="javascript:;" class="vezi_detalii_eveniment" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                            <i class="material-icons text-secondary position-relative text-lg">visibility</i>
                            </a>
                            <a href="javascript:;" class="modifica_detalii_eveniment" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                            <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                            </a>
                            <a href="javascript:;" class="sterge_eveniment" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                            <i class="material-icons text-secondary position-relative text-lg">delete</i>
                            </a>
                        `;

                        }
                    },
                    {
                        data: "date",
                        className: "date",
                        title: "Data",
                        visible: true,
                        render: function (data, type, row) {
                            var today = new Date();  // Creează un obiect Date pentru data curentă
                            var eventData = new Date(data);
                            var formattedDate = eventData.toLocaleDateString();

                            if (eventData > today) {
                                return '<span class="badge badge-success badge-lg" style="font-size: 12px; ">' + data + '</span>'
                            } else if (eventData.toDateString() === today.toDateString()) {
                                return '<span class="badge badge-danger badge-lg" style="font-size: 12px; ">' + data + '</span>'
                            } else {
                                return '<span class="badge badge-secondary badge-lg" style="font-size: 12px; ">' + data + '</span>'
                            }

                            //return '<span class="label stato label-success" style="color: #ffffff; background-color:' + colore + '; font-size: 100%">' + formattedDate + '</span>';
                        }
                    },
                    {
                        data: "time",
                        className: "time",
                        title: "Ora",
                        visible: true
                    },
                    {
                        data: "id",
                        className: "id",
                        //title: "id",
                        visible: false
                    },
                    {
                        data: "event_type",
                        className: "event_type",
                        title: "Tip Eveniment",
                        visible: true
                    },
                    {
                        data: "location",
                        className: "location",
                        title: "Locatia",
                        visible: true
                    },
                    {
                        data: "location_street",
                        className: "location_street",
                        //title: "Locatia",
                        visible: false
                    },
                    {
                        data: "location_details",
                        className: "location_details",
                        //title: "Locatia",
                        visible: false
                    },
                    {
                        data: "dancers",
                        className: "dancers",
                        title: "Dansatori",
                        visible: true
                    },
                    {
                        data: "mires",
                        className: "mires",
                        title: "Miri",
                        visible: true
                    },
                    {
                        data: "contacts",
                        className: "contacts",
                        title: "Contacte",
                        visible: true
                    },
                    {
                        data: "price",
                        className: "price",
                        title: "Price",
                        visible: true
                    },
                    {
                        data: "color",
                        className: "color",
                        title: "Culoarea",
                        visible: true,
                        render: function (data){
                            //return '<span style="color:'+data+'">'+data+'</span>'
                            return data
                        }
                    },
                    {
                        data: "status",
                        className: "status",
                        title: "Status",
                        visible: true,
                        render: function (data){
                            if (data === 'Semnat') {
                                return '<div class="d-flex align-items-center"><button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">done</i></button><span>'+data+'</span></div>'
                            } else if (data === 'De Semnat') {
                                return '<div class="d-flex align-items-center"><button class="btn btn-icon-only btn-rounded btn-outline-white mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">pending</i></button><span>'+data+'</span></div>'
                            } else {
                                return '<div class="d-flex align-items-center"><button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">clear</i></button><span>'+data+'</span></div>'
                            }
                        }
                    },
                    {
                        data: "details",
                        className: "details",
                        title: "Detalii",
                        visible: true,
                        render: function (data, type, row) {
                            data = data || "";  // Asigură-te că data este un șir, chiar și dacă este null sau undefined
                            var truncatedData = data.length > 50 ? data.slice(0, 50) + "..." : data;
                            return truncatedData;
                        }
                    },
                    {
                        data: "photo_video",
                        className: "photo_video",
                        title: "Foto/Video",
                        visible: false
                    },
                    {
                        data: "music",
                        className: "music",
                        title: "Muzica",
                        visible: false
                    },
                    {
                        data: "moderators",
                        className: "moderators",
                        title: "Moderator",
                        visible: false
                    },


                ],
                "select": {
                    style: "single"
                },
                "autoWidth": false,
            });

        }

        $(document).ready(function () {
            table_events();
        });

        function modificaDetaliiEveniment() {
            var $row = $(this).closest("tr");
            var $table_id = table_events.row($row).data().id;
            window.open("modificaDetaliiEveniment?id=" + $table_id, "_blank");
        }

        function arataDetaliiEveniment() {
            var $row = $(this).closest("tr");
            var $table_date = table_events.row($row).data().date;
            var $table_time = table_events.row($row).data().time;
            var $table_event_type = table_events.row($row).data().event_type;
            var $table_location_street = table_events.row($row).data().location_street;
            var $table_location_details = table_events.row($row).data().location_details;
            var $table_location = table_events.row($row).data().location;
            var $table_dancers = table_events.row($row).data().dancers;
            var $table_mires = table_events.row($row).data().mires;
            var $table_contacts = table_events.row($row).data().contacts;
            var $table_price = table_events.row($row).data().price;
            var $table_details = table_events.row($row).data().details;
            var $table_color = table_events.row($row).data().color;

            Swal.fire({
                //title: 'Adauga Eveniment',
                html: `{{ create_event() }}`,
                //showCancelButton: true,
                //cancelButtonText: 'Anuleaza',
                width: 1000,
            })
            document.querySelector('#date').value = $table_date
            document.querySelector("#time").value = $table_time
            document.querySelector("#tip_eveniment").value = $table_event_type
            document.querySelector("#culoarea").value = $table_color
            document.querySelector("#location").value = $table_location
            document.querySelector("#street").value = $table_location_street
            document.querySelector("#location_details").value = $table_location_details
            document.querySelector("#miri").value = $table_mires
            document.querySelector("#contacte_miri").value = $table_contacts
            document.querySelector("#price").value = $table_price
            document.querySelector("#detalii_nunta").value = $table_details


            var dancersSelect = document.querySelector("#dancers");
            var newInputGroup = document.createElement("div");
            newInputGroup.className = "input-group input-group-static";
            newInputGroup.innerHTML = '<label>Dansatori</label><input class="form-control text-white" type="text" id="dancers" name="dancers" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">';
            dancersSelect.parentNode.replaceChild(newInputGroup, dancersSelect);

            document.querySelector("#dancers").value = $table_dancers

        }
    {% endmacro %}

</script>

{#--------Adauga eveniment html-------------------------#}
{% macro create_event() %}

    <div class="container mt-5">
        <form>
            <input name="idEvent" id="idEvent" hidden="hidden">
            <div class="row mt-3">
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Data</label>
                        <input class="form-control flatpickr-input text-white" type="date" id="date"
                               name="date" value="" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-static">
                        <label>Ora</label>
                        <input class="form-control flatpickr-input text-white" type="text" id="time" name="time"
                               value="" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-static mb-4">
                        <label>Tip Eveniment</label>
                        <select class="form-control text-white bg-dark" id="tip_eveniment" name="tip_eveniment"
                                value="">
                            <option>Nunta</option>
                            <option>Cumatrie</option>
                            <option>Alteceva</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-static mb-4">
                        <label>Status</label>
                        <select class="form-control text-white bg-dark" id="status" name="status">
                            <option>Semnat</option>
                            <option>De Semnat</option>
                            <option>Anulat</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-static">
                        <label>Culoarea</label>
                        <input class="form-control flatpickr-input text-white" type="text" id="culoarea" name="culoarea"
                               value="" data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="input-group input-group-outline is-filled">
                        <label class="form-label">Locatia</label>
                        <input class="form-control flatpickr-input text-white" type="text" id="location"
                               name="location"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-outline is-filled">
                        <label class="form-label">Strada</label>
                        <input class="form-control flatpickr-input text-white" type="text" id="street" name="street"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-outline is-filled">
                        <label class="form-label">Detalii</label>
                        <input class="form-control flatpickr-input text-white" type="text" id="location_details"
                               name="location_details"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                    <select class="form-control text-white" id="dancers" name="dancers" placeholder="Dansatori"
                            multiple>
                    </select>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Mirii</label>
                        <input class="form-control text-white" type="text" id="miri" name="miri"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Contacte</label>
                        <input class="form-control text-white" type="text" id="contacte_miri" name="contacte_miri"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-static">
                        <label>Price</label>
                        <input class="form-control text-white" type="text" id="price" name="price"
                               data-input="" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="input-group input-group-dynamic">
                    <textarea class="form-control text-white" rows="2"
                              placeholder="Detalii despre nunta"
                              spellcheck="false" id="detalii_nunta"></textarea>
                </div>
            </div>

        </form>
    </div>

{% endmacro %}

{#--------Adauga eveniment js-------------------------#}

<script>
    {% macro eveniment_nou_modal() %}
        const openModalButton = document.getElementById('open-modal-button');
        var selectDancers;

        openModalButton.addEventListener('click', () => {
            Swal.fire({
                title: 'Adauga Eveniment',
                html: `{{ create_event() }}`,
                showCancelButton: true,
                showDenyButton: true,
                confirmButtonText: 'Adauga',
                cancelButtonText: 'Anuleaza',
                denyButtonText: 'Eveniment Complet',

                focusConfirm: false,
                allowOutsideClick: false,
                width: 1000,
                preConfirm: () => {
                    const date = document.getElementById('date').value;
                    const time = document.getElementById('time').value;
                    const tip_eveniment = document.getElementById('tip_eveniment').value;
                    const location = document.getElementById('location').value;
                    const street = document.getElementById('street').value;
                    const location_details = document.getElementById('location_details').value;
                    const dancers = selectDancers.getSelected().toString()
                    const miri = document.getElementById('miri').value;
                    const contacte_miri = document.getElementById('contacte_miri').value;
                    const price = document.getElementById('price').value;
                    const detalii_nunta = document.getElementById('detalii_nunta').value;
                    const status = document.getElementById('status').value;
                    const culoarea = document.getElementById('culoarea').value;

                    $.ajax({
                        url: '/adaugaEveniment',
                        method: 'POST',
                        data: {
                            date,
                            time,
                            tip_eveniment,
                            location,
                            street,
                            location_details,
                            dancers,
                            miri,
                            contacte_miri,
                            price,
                            detalii_nunta,
                            status,
                            culoarea
                        },
                        success: function (response) {
                            try { table_events.ajax.reload()
                            }catch (e) { console.log(e) }

                            try { calendar.refetchEvents();
                            }catch (e) { console.log(e) }

                            Swal.fire('Eveniment adaugat cu succes!', '', 'success');
                        },
                        error: function (error) {
                            console.error('Eroare:', error);
                            Swal.fire('Eroare', 'A fost depistata o eroare in timpul adaugarii evenimentului.', 'error');
                        }
                    });
                }
            }).then((result) => {
                if (result.isDenied) {
                    window.open("/adaugaEvenimentComplet", "_blank");
                }
            });

            $(function () {
                $("#location").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/getLocation",
                            method: "GET",
                            data: {
                                term: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    select: function (event, ui) {
                        $("#location").val(ui.item.name || "");

                        $("#street").val(ui.item.street || "");
                        $("#street").attr("disabled", true);

                        $("#location_details").val(ui.item.details || "");
                        $("#location_details").attr("disabled", true);

                        return false;

                    },
                    messages: {
                        noResults: '',
                        results: function () {
                        }
                    }
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<div>" + item.name + "</div>")
                        .appendTo(ul);
                };
            });


            var selectDancers;

            $(function () {

                function getDancers() {
                    var dateElement = $('input[name="date"]');

                    if (dateElement.val()) {
                        var dancersSelect = document.getElementById('dancers');
                        var date = document.getElementById('date').value;

                        // Golește selectul înainte de a adăuga opțiunile noi
                        dancersSelect.innerHTML = '';

                        $.ajax({
                            url: "/getDancers?date=" + date,
                            method: "GET",
                            success: function (data) {
                                for (var i = 0; i < data.length; i++) {
                                    var option = document.createElement('option');
                                    option.value = data[i].name;
                                    option.text = data[i].name;

                                    dancersSelect.appendChild(option);
                                }

                                // Inițializează sau actualizează SlimSelect după adăugarea opțiunilor
                                if (selectDancers) {
                                    selectDancers.destroy();
                                }

                                selectDancers = new SlimSelect({
                                    select: '#dancers'
                                });
                            }
                        });
                    }
                }

                getDancers();

                var dateInput = document.getElementById('date');
                dateInput.addEventListener('input', function () {
                    getDancers();
                });
            });


        });
    {% endmacro %}

</script>


